<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>of</string>
				<string>fs</string>
				<string>fth</string>
				<string>4th</string>
				<string>fo</string>
				<string>fas</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Forth Source Code File</string>
			<key>CFBundleTypeRole</key>
			<string>MDImporter</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.forth-source</string>
				<string>public.source-file</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.polymicrosystems.spotlight.forth</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleVersion</key>
	<string>1.1</string>
	<key>CFPlugInDynamicRegisterFunction</key>
	<string></string>
	<key>CFPlugInDynamicRegistration</key>
	<string>NO</string>
	<key>CFPlugInFactories</key>
	<dict>
		<key>987B50F5-7F2D-4115-A238-74726C5C6D92</key>
		<string>MetadataImporterPluginFactory</string>
	</dict>
	<key>CFPlugInTypes</key>
	<dict>
		<key>8B08C4BF-415B-11D8-B3F9-0003936726FC</key>
		<array>
			<string>987B50F5-7F2D-4115-A238-74726C5C6D92</string>
		</array>
	</dict>
	<key>CFPlugInUnloadFunction</key>
	<string></string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
				<string>public.source-code</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>public.forth-source</string>
			<key>UTTypeDescription</key>
			<string>Forth Source Code File</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>fs</string>
					<string>4th</string>
					<string>fth</string>
					<string>forth</string>
					<string>fo</string>
					<string>fas</string>
					<string>of</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
				<string>public.source-code</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>public.forth-source</string>
			<key>UTTypeDescription</key>
			<string>Forth Source Code File</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<array>
						<string>of</string>
						<string>fs</string>
						<string>fth</string>
						<string>4th</string>
						<string>fo</string>
						<string>fas</string>
					</array>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
